/* ============================= */
/*          GLOBAL STYLES        */
/* ============================= */

/* Global Variables */
:root {
  --PRIMARY-COLOR: #223b55;
  --SECONDARY-COLOR: #102a46;
  --ACCENT-COLOR: #e67e22; /* Bright Orange */
  --NEUTRAL-COLOR: #ecf0f1; /* Light Gray */
  --TEXT-COLOR: #34495e; /* Dark Gray */
  --ALERT-ERROR-COLOR: #e74c3c; /* Error Red */
  --ALERT-SUCCESS-COLOR: #2ecc71; /* Success Green */
}

/* ============================= */
/*          GENERAL STYLES       */
/* ============================= */

body {
  background-color: var(--NEUTRAL-COLOR) !important;
  color: var(--TEXT-COLOR);
  font-family: Arial, sans-serif;
}

/* ============================= */
/*            HEADER             */
/* ============================= */

/* Topbar Styles */
.top-bar {
  background-color: var(--PRIMARY-COLOR);
  position: fixed;
  z-index: 1;
}

.top-bar a {
  text-decoration: none;
  color: var(--NEUTRAL-COLOR);
  font-weight: 400;
}

/* Navbar Styles */
.navbar {
  background-color: var(--SECONDARY-COLOR);
  color: var(--NEUTRAL-COLOR);
  top: 60px;
}

.navbar-login,
.navbar-register {
  top: 0;
}

.navbar a {
  color: var(--NEUTRAL-COLOR);
  font-weight: bold;
}

.navbar a:hover {
  color: var(--ACCENT-COLOR);
}

.profile-img {
  position: relative;
  bottom: 3px;
}

/* ============================= */
/*           BUTTONS             */
/* ============================= */

.btn-primary {
  background-color: var(--PRIMARY-COLOR);
  color: var(--NEUTRAL-COLOR);
}

.btn {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: var(--SECONDARY-COLOR);
}

/* ============================= */
/*        DROPDOWN MENUS         */
/* ============================= */

/* Product Dropdown */
.navbar-nav .navbar-dropdown-menu .dropdown-item {
  font-weight: normal;
}

/* Profile Image Dropdown */
.navbar-nav .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: black;
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--PRIMARY-COLOR);
  color: var(--NEUTRAL-COLOR);
}

/* ============================= */
/*         HERO SECTION          */
/* ============================= */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/public/images/pink_high_heels.jpeg');
  width: 100vw;
  height: 50vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 5px 5px lightgray;
  text-align: center;
  margin-top: 60px;
  color: whitesmoke;
}

/* Offset for main container */

.container {
  margin-top: 100px;
  /* margin-bottom: 40px; */
  min-height: 100vh;
}

/* ============================= */
/*         Dashboard             */
/* ============================= */

.container .card-dashboard {
  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.container .card-dashboard:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* ============================= */
/*        Product Card           */
/* ============================= */

.product-card {
  transition: transform 0.2s ease-in-out;
  margin-bottom: 50px;
}

.product-card .card-body {
  height: 150px;
  overflow: hidden;
}

.product-card .card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3rem;
  line-clamp: 2; /* Standard property */
}

.product-card .card-price {
  margin-top: auto;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Image styles */
.product-img {
  width: 100%;
  height: 300px; /* Fixed height for consistency */
  object-fit: cover; /* Ensures image fits properly */
  border-bottom: 1px solid lightgray;
}

/* Button styles */
.product-card .btn {
  margin: 0 auto 10px;
  position: relative;
  bottom: 0;
}

/* ============================= */
/*         CartIcon              */
/* ============================= */

.cart-icon-container {
  position: relative;
  font-size: 23px;
  margin-right: 20px;
}

.cart-item-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ============================= */
/*    LOGIN AND REGISTER CARD    */
/* ============================= */

.custom-container {
  display: flex;
  /* justify-content: end; */
  height: 85vh;
}
.custom-card {
  border: none;
  padding: 20px 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
  bottom: 8%;
}
.signIn {
  text-align: end;
  height: 50px;
}
.signIn a {
  position: relative;
  color: black;
  text-decoration: none;
  border: 1px solid rgb(235, 235, 244);
  padding: 5px 15px;
  border-radius: 5%;
  top: 50%;
  right: 10%;
}

/* ============================= */
/*           FOOTER              */
/* ============================= */

.footer {
  background-color: var(--SECONDARY-COLOR);
  text-align: center;
  color: var(--NEUTRAL-COLOR);
  padding: 1rem;
  bottom: 0;
}
