.container-fluid {
  background-color: rgb(237, 229, 229);
  display: flex;
  justify-content: end;
  height: 100vh;
}
.custom-card {
  padding: 20px 20px;
  width: 100%;
  max-width: 400px;
  margin: auto;
}
